
* {
font-family: monospace;
}

.question {
display: grid;
grid-template-columns: 3fr 6fr 1fr;
}

footer {
display: grid;
grid-template-columns: 1fr 1fr;
gap: 20px
}

hr:first-of-type {
margin-top: 2rem;    /* adjust as needed */
margin-bottom: 2rem; /* adjust as needed */
color: navy;
}

hr:last-of-type {
margin-top: 2rem;    /* adjust as needed */
margin-bottom: 2rem; /* adjust as needed */
color: navy;
}

input {
-webkit-appearance: none;  /* Safari/Chrome/Edge */
-moz-appearance: textfield; /* Firefox */
appearance: none;

border: none;
border-bottom: 1px solid #333;
background: transparent;
padding: 0.25rem 0.2rem;
font: inherit;
outline: none;
width: 30%;
box-sizing: border-box;
}

/* Safari/Chrome: remove spin buttons */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
display: none; /* Safari fix */
}

/* Firefox: remove spin buttons */
input[type="number"] {
-moz-appearance: textfield;
}

/* Focus style */
input:focus {
border-bottom: 2px solid #1a73e8;
}
